*{
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    display: flex;
    justify-content: center;
}

.table-header{
    background-color: #766B6B;
    height: 100px;
    text-align: center;
    padding-top: 10px;
}
.container{
    color: white;
}

.table{
    background-color: #2e2e4b; 
    width: 450px;
}

.table-row{
    height: 100px;
    display: flex;
    justify-content: space-around;
}